<mat-card class=news-card>
    <h3>{{ title }}</h3>
    <ul *ngFor=" let item of stockGains ">
        <li>
            <a class="right-justify" (click)="onClick(item.ticker)">
                <span class="stock-name">{{ item.ticker }}</span>
                <span class="stock-details" [ngClass]="utils.getClassNameForPositiveNegative(item.gain)">
                    {{ utils.getGainWithPercentString(item.gain, item.percent) }}
                </span>
            </a>
        </li>
    </ul>
</mat-card>