<mat-card (click)="onClick()">
    <div class="account-name"> {{ account.name }}:
        <span>
        ${{ account.total | number: '1.2-2'}}
        </span>
    </div>
    <ul>
        <li class=right-justify> Day's Gain:
            <span [ngClass]="utils.getClassNameForPositiveNegative(account.dayGain) ">
              {{ utils.getGainWithPercentString(account.dayGain, account.percentChange) }}</span>
        </li>
        <li class=right-justify> Total Gain:
            <span [ngClass]="utils.getClassNameForPositiveNegative(account.profit) ">
              {{ utils.getGainWithPercentString(account.profit, account.percentProfit) }}</span>
        </li>
        <li *ngIf="account.postMarketGain !=0 " class=right-justify> Post Market:
            <span [ngClass]=" utils.getClassNameForPositiveNegative(account.postMarketGain) ">
            {{ utils.getGainWithPercentString(account.postMarketGain, account.postMarketPercentChange) }}</span>
        </li>
    </ul>
</mat-card>