.account-name {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 20px;
}

.mat-card {
    width: 100%;
    min-width: 260px;
    max-width: 276px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
}