app-watch-list {
    margin: 8px;
    min-width: 220px;
}

.news-card {
    margin-bottom: 0px;
    max-height: 250px;
}

app-stock-group {
    margin: 8px;
    min-width: 220px;

}

.last-col {
    padding-right: 110px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }