<div class="mat-elevation-z8">
    <mat-card class="news-card">
        <mat-card-title>Top Movers</mat-card-title>
        <div class="scrolling-wrapper">
            <div fxLayout="row">
                <!-- <table mat-table class="full-width-table" matSort aria-label="Elements"> -->

                <app-watch-list class="news-col" [title]="'Watch List'" [watchList]="['.DJI', 'NDAQ', '^GSPC', 'AAPL']">
                </app-watch-list>
                <app-stock-group class="news-col" [title]="'Day Gainers'" [stockGains]="summary.topDayGainers">
                </app-stock-group>
                <app-stock-group class="news-col" [title]=" 'Day Losers' " [stockGains]="summary.topDayLosers">
                </app-stock-group>
                <app-stock-group class="news-col" [title]=" 'Most Profitable' " [stockGains]=" summary.mostProfitable">
                </app-stock-group>
                <app-stock-group class="news-col last-col" [title]=" 'Least Profitable' " [stockGains]="summary.leastProfitable">
                </app-stock-group>
                <!-- </table> -->
            </div>
        </div>
    </mat-card>
</div>