<mat-card>
    <p class="summary-header">Holdings</p>
    <mat-card-title>${{ portfolio.summary.totals.total | number:'1.2-2' }}</mat-card-title>
    <ul>
        <li class="list-seperator">Total Cost: {{ portfolio.summary.totals.totalCost | number:'1.2-2'}}
        </li>
        <li class=right-justify> Day's Gain:
            <span [ngClass]="utils.getClassNameForPositiveNegative(portfolio.summary.totals.dayGain)">
                  {{ utils.getGainWithPercentString(portfolio.summary.totals.dayGain, portfolio.summary.totals.percentChange) }}</span>
        </li>
        <li class=right-justify> Total Gain:
            <span [ngClass]="utils.getClassNameForPositiveNegative(portfolio.summary.totals.profit)">
                  {{ utils.getGainWithPercentString(portfolio.summary.totals.profit, portfolio.summary.totals.percentProfit) }}</span>
        </li>
        <li *ngIf="portfolio.summary.totals.postMarketGain != 0" class=right-justify> Post Market:
            <span [ngClass]="utils.getClassNameForPositiveNegative(portfolio.summary.totals.postMarketGain)">
                {{ utils.getGainWithPercentString(portfolio.summary.totals.postMarketGain, portfolio.summary.totals.postMarketChangePercent) }}</span>
        </li>
    </ul>
</mat-card>
<app-account *ngFor="let account of portfolio.summary.accounts" [account]="account">
</app-account>