<!-- <div class="mat-elevation-z8"> -->
<mat-card>
    <mat-card-title>{{ getTitle() }}</mat-card-title>
    <div class="table-container">
        <table mat-table class="full-width-table" matSort aria-label="Elements">
            <!-- Name Column -->
            <ng-container class="stock-flex" matColumnDef="name" sticky>
                <th class="stock-name-bold" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td class="stock-name" mat-cell *matCellDef="let row">{{row.name}}</td>
                <th class="footer-align-right" mat-footer-cell *matFooterCellDef>Total</th>
            </ng-container>

            <!-- Account Column -->
            <ng-container matColumnDef="account">
                <th class="stock-name-bold" mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
                <td class="stock-name" mat-cell *matCellDef="let row">{{row.account}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>Total</th>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th class="stock-details-bold" mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.price)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef> </th>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th class="stock-details-bold" mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let row" class="stock-details">{{utils.numberWithCommas(row.quantity)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>{{getQuantityTotal(summary.quantity)}}</th>
            </ng-container>

            <!-- percentChange Column -->
            <ng-container matColumnDef="percentChange">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Change (%)</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.percentChange)" mat-cell *matCellDef="let row">{{utils.getPercent(row.percentChange)}}</td>
                <th class="stock-details-bold" [ngClass]="utils.getClassNameForPositiveNegative(summary.percentChange)" mat-footer-cell *matFooterCellDef>{{utils.getPercent(summary.percentChange)}}</th>
            </ng-container>

            <!-- priceChange Column -->
            <ng-container matColumnDef="priceChange">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Change ($)</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.priceChange)" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.priceChange)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef> </th>
            </ng-container>

            <!-- dayGain Column -->
            <ng-container matColumnDef="dayGain">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Day Gain</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.dayGain)" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.dayGain)}}</td>
                <th class="stock-details-bold" [ngClass]="utils.getClassNameForPositiveNegative(summary.dayGain)" mat-footer-cell *matFooterCellDef>{{utils.numberWithCommas(summary.dayGain)}}</th>
            </ng-container>

            <!-- unitCost Column -->
            <ng-container matColumnDef="unitCost">
                <th class="stock-details-bold" mat-header-cell *matHeaderCellDef>Unit Cost</th>
                <td mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.unitCost)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>&emsp;</th>
            </ng-container>

            <!-- totalCost Column -->
            <ng-container matColumnDef="totalCost">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Total Cost</th>
                <td mat-cell *matCellDef="let row" class="stock-details">{{utils.numberWithCommas(row.totalCost)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>{{utils.numberWithCommas(summary.totalCost)}}</th>
            </ng-container>

            <!-- profit Column -->
            <ng-container matColumnDef="profit">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Profit</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.profit)" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.profit)}}</td>
                <th class="stock-details-bold" [ngClass]="utils.getClassNameForPositiveNegative(summary.profit)" mat-footer-cell *matFooterCellDef>{{utils.numberWithCommas(summary.profit)}}</th>
            </ng-container>

            <!-- total Column -->
            <ng-container matColumnDef="total">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Total</th>
                <td class="stock-details" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.total)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>{{utils.numberWithCommas(summary.total)}}</th>
            </ng-container>

            <!-- percentProfit Column -->
            <ng-container matColumnDef="percentProfit">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Profit (%)</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.percentProfit)" mat-cell *matCellDef="let row">{{utils.getPercent(row.percentProfit)}}</td>
                <th class="stock-details-bold" [ngClass]="utils.getClassNameForPositiveNegative(summary.percentProfit)" mat-footer-cell *matFooterCellDef>{{utils.getPercent(summary.percentProfit)}}</th>
            </ng-container>

            <!-- Ticker Column -->
            <ng-container matColumnDef="ticker">
                <th mat-sort-header arrowPosition="before" mat-header-cell *matHeaderCellDef class="stock-details-bold">Ticker</th>
                <td class="stock-details" mat-cell *matCellDef="let row">{{row.ticker}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>&emsp;</th>
            </ng-container>

            <!-- postMarketPrice Column -->
            <ng-container matColumnDef="postMarketPrice">
                <th mat-sort-header arrowPosition="before" mat-header-cell *matHeaderCellDef class="stock-details-bold">Post<br />Market<br />Price</th>
                <td class="stock-details" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.postMarketPrice)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>&emsp;</th>
            </ng-container>

            <!-- postMarketPercentChange Column -->
            <ng-container matColumnDef="postMarketPercentChange">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Post<br />Market<br />Change (%)</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.postMarketPercentChange)" mat-cell *matCellDef="let row">{{utils.getPercent(row.postMarketPercentChange)}}</td>
                <th class="stock-details-bold" [ngClass]="utils.getClassNameForPositiveNegative(summary.postMarketPercentChange)" mat-footer-cell *matFooterCellDef>{{utils.getPercent(summary.postMarketPercentChange)}}</th>
            </ng-container>

            <!-- postMarketChange Column -->
            <ng-container matColumnDef="postMarketChange">
                <th mat-sort-header arrowPosition="before" mat-header-cell *matHeaderCellDef class="stock-details-bold">Post<br />Market<br />Change ($)</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.postMarketChange)" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.postMarketChange)}}</td>
                <th class="stock-details-bold" mat-footer-cell *matFooterCellDef>&emsp;</th>
            </ng-container>

            <!-- postMarketGain Column -->
            <!-- <ng-container matColumnDef="postMarketGain">
                    <th mat-sort-header arrowPosition="before" mat-header-cell *matHeaderCellDef class="stock-details-bold">Post<br />Market<br />Gain
                    </th>
                    <td class="stock-details" [ngClass]="utils.getClassNameForPositiveNegative(row.postMarketGain)" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.postMarketGain)}}</td>
                    <th class="footer-align-last-column" [ngClass]="utils.getClassNameForPositiveNegative(summary.postMarketGain)" class="stock-details-bold" mat-footer-cell *matFooterCellDef>{{utils.numberWithCommas(summary.postMarketGain)}}</th>
                </ng-container> -->
            <ng-container matColumnDef="postMarketGain">
                <th mat-sort-header arrowPosition="before" class="stock-details-bold" mat-header-cell *matHeaderCellDef>Post<br />Market<br />Gain</th>
                <td [ngClass]="utils.getClassNameForPositiveNegative(row.postMarketGain)" mat-cell *matCellDef="let row">{{utils.numberWithCommas(row.postMarketGain)}}</td>
                <th id='postMarketGainFooter' class=" stock-details-bold" [ngClass]="utils.getClassNameForPositiveNegative(summary.postMarketGain)" mat-footer-cell *matFooterCellDef>{{utils.numberWithCommas(summary.postMarketGain)}}</th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="footerDisplayedColumns"></tr>
        </table>

        <mat-paginator paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="20" [pageSizeOptions]="[10, 20, 25, 30]">
        </mat-paginator>
    </div>
</mat-card>
<!-- </div> -->