.stock-name {
    min-width: 120px;
    font-size: 10px;
    margin-right: 10px;
}

.stock-details {
    margin-right: 4px;
    min-width: 60px;
    flex: 1;
    font-size: 11px;
    text-align: right;
}