<div class="stock-flex">
    <span class=" stock-name-bold ">Total</span>
    <span class=" stock-details-bold "></span>
    <span class="stock-details-bold" *ngIf="isStockQuery">{{getQuantity()}}</span>
    <span class="stock-details-bold" *ngIf="!isStockQuery"> </span>
    <span [ngClass]="utils.getClassNameForPositiveNegative(summary.percentChange) " class=" stock-details-bold ">{{getPercentChange()}}</span>
    <span class="stock-details-bold "></span>
    <span [ngClass]="utils.getClassNameForPositiveNegative(summary.dayGain) " class=" stock-details-bold ">{{getDayGain()}}</span>
    <span class=" stock-details-bold "></span>
    <span class=" stock-details-bold ">{{getTotalCost()}}</span>
    <span [ngClass]="utils.getClassNameForPositiveNegative(summary.profit) " class=" stock-details-bold ">{{getProfit()}}</span>
    <span class=" stock-details-bold ">{{getTotal()}}</span>
    <span [ngClass]="utils.getClassNameForPositiveNegative(summary.percentProfit) " class=" stock-details-bold ">{{getPercentProfit()}}</span>
    <span class=" stock-details-bold "></span>
    <span class=" stock-details-bold "></span>
    <span [ngClass]="utils.getClassNameForPositiveNegative(summary.postMarketPercentChange) " class=" stock-details-bold ">{{getPostMarketPercentChange()}}</span>
    <span class=" stock-details-bold "></span>
    <span [ngClass]="utils.getClassNameForPositiveNegative(summary.postMarketGain) " class=" stock-details-bold ">{{getPostMarketGain()}}</span>
</div>