.body {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: row;
    padding: 4px;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

app-portfolio {
    width: 20%;
    height: 100%;
    padding: 10px;
}

app-news {
    height: 280px;
    margin-bottom: 4px;
}

app-stocks {
    min-height: 600px;
    height: auto;
    padding: 10px 0;
}