.right-justify {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 0;
}

.stock-name {
    min-width: 112px;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
    text-align: left;
}

.stock-details {
    font-size: 11px;
}